<p id="notice"><%= notice %></p>

<div class="form-group">
  <strong>Attachment:</strong>
  <%= @lecture.attachment %>
</div>

<div class="form-group">
  <strong>Content:</strong>
  <%= raw @lecture.content %>
</div>

<div class="form-group">
  <strong>User:</strong>
  <%= @lecture.try(:user).try(:name) %>
</div>

<div class="form-group">
  <strong>Course:</strong>
  <%= @lecture.course_id %>

</div>
<%= render 'comments/showallcom' %>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
