<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.try(:user).try(:name) %>
</p>
<% @lectures.each do |lecture| %>
   <br>
<%= link_to lecture.content, lecture ,{ :class=>"panel panel-denger" }%>
<% end %>
<!-- will be tested -->

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
